/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
    height: fit-content;
}

.main-container {
    width: 1440px;
    padding: 0px 50px;
    box-sizing: border-box;
}

main{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.filter-icone {
    color: #0065fc;
}

#loupe i {
    color: #ffffff;
}

.icone i {
    color: black;
}

h1 {
    margin: 0px;
    font-size: 22px;
}

p {
    margin: 0px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

/****** Header ***********/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    width: 61.09px;
    margin-top: auto;
    margin-bottom: auto;
}

nav {
    width: 228.6px;
    height: fit-content;
    display: flex;
    gap: 68px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 228.6px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: space-between;
}

nav ul li {
    display: flex;
    flex-direction: row;
}

nav ul li a {
    width: auto;
    height: 52.5px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    padding-top: 16px;
}

#hbg {
    border-top: 1px solid #0065FC;
    color: #0065FC;
}

nav ul li a:hover{
    border-top: 1px solid #0065FC;
    color: #0065FC;
}

/****** Info-Group ***********/

.info-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.headline {
    width: fit-content;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headline p {
    font-size: 16px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.icone {
    height: 49px;
    width: 50px;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.icone i {
    width: 14px;
    padding: 0px;
}

input {
    width: 195px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border: none;
    padding: 0px;
}

.search-bar #rechercher {
    height: 49px;
    width: 132px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #0065FC;
    border: none;
    padding: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#loupe {
    display: none;
}

.filter-bar {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter-bar h2 {
    font-size: 18px;
    font-weight: 700;
}

.filter {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filter a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    font-size: 17px;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    height: 50px;
    padding-left: 19px;
    padding-right: 19px;
}

.filter a:hover {
    background-color: #DEEBFF;
    transition: 0.3s;
}

.filter p {
    font-size: 17px;
    font-weight: 700;
}

.info-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.info-bar div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    width: 24px;
    height: 24px;
}

.info-bar p {
    font-size: 16px;
    font-weight: 400;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires h3 {
    padding-top: 10px;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements-cards a {
    width: 31%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    gap: 8px;
}

.hebergements-cards .card-content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.hebergements-cards .card-title {
    margin-top: 0px;
    margin-bottom: 4px;
}


.hebergements-cards .card-rating {
    margin-bottom: 8px;
    padding-left: 10px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.card-subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.activites {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.frame {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.frame a {
    width: 25%;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);

}

.frame a img {
    width: 100%;
    height: 380px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

.frame a h3 {
    margin: 20px;
    font-size: 16px;
    font-weight: 700;
    color: black;
}

footer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
}

.footer-content {
    width: 33.3%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-content h3 {
    margin: 0px;
}

.footer-content a {
    font-size: 16px;
    font-weight: 400;
    width: fit-content;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .frame a img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .main-container {
        padding: 0px;
    }

    main {
        padding: 0px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header img {
        padding: 30px;
        
    }

    header nav {
        width: 100%;
    }

    header nav ul {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    header nav ul li {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid white;
    }

    header nav ul li a {
        height: fit-content;
        padding-top: 0px;
        padding-bottom: 15px;
        color: black;
    }
    
    #act {
        border-bottom: 1px solid #0065FC;
    }

    nav ul li a:hover{
        border-top: none;
        color: #0065FC;
    }

    nav ul li:hover {
        border-bottom: 1px solid #0065FC;
        color: #0065FC;
    }

    #hbg {
        border-top: none;
    }

    .info-group {
        padding: 20px;
    }

    .search-bar {
        width: 100%;
    }

    .search-bar input {
        width: 100%;
        border: 1px solid rgba(242, 242, 242, 1)
    }

    .icone {
        padding-left: 5px;
        padding-right: 5px;
    }

    #rechercher {
        display: none;
    }

    #loupe {
        display: block;
        background-color: #0065FC;
        border: none;
        width: 50px;
        height: 50px;
        margin-left: -20px;
        padding: 15px 16px 15px 16px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .filter-bar {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .filter-bar h2{
        margin-bottom: 20px;
    }

    .filter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .filter a {
        width: 47%;
        padding: 0px;
        margin-bottom: 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
        padding-bottom: 0px;
    }

    .populaires {
        margin: 0px;
        background-color: var(--main-bg-color);
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements {
        background-color: white;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .frame {
        flex-direction: column;
    }

    .frame a {
        width: 100%;
    }
    
    .frame a img {
        height: 141px;
    }

    footer {
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }

    .footer-content {
        width: calc(100% - 40px);
        align-items: flex-start;
        gap: 15px;
    }
}